html{
    cursor: url('../image/cursor.png'), auto;
}
body{
    background-color: black;
    margin: 0px;
    user-select: none;
    min-height: 100%;
    background-position: center top;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.icon{
    width: 60px;
}
p, pre{
    margin: 0px;
}
span{
    font-family: monospace;
    margin: 4px 0;
}
span.i{
    text-decoration-line: underline;
}
footer{
    position: fixed;
    bottom: 0px;
    display: flex;
    background-color: rgb(167, 167, 167);
    width: 100%;
}
.window{
    background-color: rgb(200, 200, 200);
}
#mail{
    background-color: rgb(134, 134, 134);
}
.deskTopIcon, .loadText{
    color: white;
}
.text{
    margin-bottom: 8px;
    width: 200px;
}
#start{
    width: 150%;
    margin-top: 5px;
}
#menus{
    position: fixed;
    display: none;
    bottom: 30px;
    width: 330px;
    height: 484px;
    padding: 0;
    margin: 0;
    background-image: url("../image/startmenu.png");
}
.window{
    width: 1000px;
    position: fixed;
    border: 4px solid rgb(200, 200, 200);
}
.windowHeader{
    display: flex;
    justify-content: space-between;
}
.appImg{
    width: 20px;
}
.main{
    height: 500px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
h3{
    margin: 0 2px 0 2px;
    border: 2px solid #000;
    border-left-color: #fff;
    border-top-color: #fff;
    padding: 0 3px 0 3px;
    font-family: monospace;
    height: 70%;
    width: 11px;
    text-align: center;
    background-color: rgb(177, 177, 177);
}
#PC, #RClickMenu{
    display: none;
}
iframe{
    width: 99.6%;
    height: 100%;
}
.startImg{
    width: 40px;
    margin-left: 60px;
    margin-top: 10px;
}
h1{
    color: rgb(255, 81, 0);
}
.menu{
    display: flex;
    align-items: baseline;
}
#time{
    margin-left: 5px;
    margin-right: 5px;
}
#mail{
    position: absolute;
    right: 0px;
    height: 100%;
    display: flex;
    align-items: center;
}
#start-menu{
    margin-right: 30px;
}
.Title{
    margin-right: 5px;
    border: solid 2px #808080;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    align-items: center;
    height: 87%;
}
#windows{
    position: fixed;
    top: 200px;
    right: 1200px;
}
#taskWin, #deskIcon, .menuTxt, .Tool{
    display: flex;
}
div.clickMenu{
    border: 2px solid #000;
    margin: 4px;
}
#RClickMenu{
    position: fixed;
    background-color: #808080;
    margin-top: 4px;
    margin-bottom: 4px;
}
.Tool{
    align-items: center;
}
#lang-bar{
    position: relative;
    bottom: 34.5px;
    right: 0;
    height: 34px;
    width: 170px;
    background-color: #808080;
    /*display: flex;*/
    display: none;
}
#select-box{
    background-color: #08f8;
    border: dashed #0af8 1px;
    position: absolute;
    display: none;
}